
<div class="form-group">
	<label for="">Title</label>
	<input type="text" class="form-control" ng-model="content.title" required/>
</div>
<div class="form-group">
	<label for="">Description</label>
	<textarea class="form-control" ng-model="content.description" rows="6" required></textarea>
</div>
<div class="form-group">
	<label for="" class="checkbox">
		<input type="checkbox" ng-model="content.published" 
			ng-true-value=true ng-false-value=false
			ng-checked="content.published"/>
		Publish
	</label>
</div>

	

