
<div class="form-group">
	<label for="">Title</label>
	<input type="text" class="form-control" ng-model="eventItem.title" required/>
</div>
<div class="form-group">
	<label for="">Description</label>
	<textarea class="form-control" ng-model="eventItem.description" rows="6" required></textarea>
</div>
<div class="form-group">
	<label for="">Start Date</label>
	<input type="date" class="form-control" ng-model="eventItem.startdate" required/>
</div>
<div class="form-group">
	<label for="">End Date</label>
	<input type="date" class="form-control" ng-model="eventItem.enddate" required/>
</div>

	

