<div ng-controller="EventsCtrl as events">
	<div class="row">
		<div class="col-lg-12">
			<h1>Events</h1>
			<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, impedit, sint assumenda quod quidem aperiam minus a provident eveniet ducimus 	fugiat aut aliquam. Minima, modi, maxime assumenda sint nemo repellat!		
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="header">
					<div class="page-header col-lg-12">
						<h3>March 2013</h3>
						<div class="pull-right form-inline">
							<div class="btn-group">
								<button ng-click="addEvent()" class="btn btn-primary">New Event</button>
							</div>
							<div class="btn-group">
								<button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
								<button class="btn btn-default" data-calendar-nav="today">Today</button>
								<button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
							</div>
							<div class="btn-group">
								<button class="btn btn-warning" data-calendar-view="year">Year</button>
								<button class="btn btn-warning active" data-calendar-view="month">Month</button>
								<button class="btn btn-warning" data-calendar-view="week">Week</button>
								<button class="btn btn-warning" data-calendar-view="day">Day</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-11 col-lg-offset-1">
					<admin-calendar></admin-calendar>
				</div>
				<!--
				<div class="col-lg-3">
					<div class="panel panel-primary event-list">
						<div class="panel-heading">
							Events for <span class="today"></span>
						</div>
						<div class="panel-body">
							<ul class="cal-list-event">
								<li><i class="fa fa-calendar"></i> <a href="#">Events</a></li>
								<li><i class="fa fa-calendar"></i> <a href="#">Events</a></li>
								<li><i class="fa fa-calendar"></i> <a href="#">Events</a></li>
								<li><i class="fa fa-calendar"></i> <a href="#">Events</a></li>
								<li><i class="fa fa-calendar"></i> <a href="#">Events</a></li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>		
		</div>	
	</div>
	
	<div class="modal fade bs-example-modal-lg" data-backdrop="static" id="eventEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<form ng-submit="save()" novalidate >
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Event</h4>
		      </div>
		      <div class="modal-body" ng-include src="'views/cms/eventitem.html'">

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

</div>
