<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{item.title}} </strong> <i>({{item.createdOn}})</i>
        <a class="pull-right btn btn-xs btn-danger" ng-click="delete(item.id)">×</a>
    </div>
    <div class="panel-body">
        <p>
        	{{item.description}}
        <p>
    </div>
    <div class="panel-footer">
    &nbsp;
        <div class="pull-right">
            <div class="btn-group">
                <a ng-click="edit(item.id)" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-edit"></i> Edit</a>
                <a ng-click="publish(item.id)" class="btn btn-xs btn-primary" title="{{ item.published ? 'Un-publish' : 'Publish' }}"><i class="fa fa-rss"></i> {{ item.published ? 'Un-publish' : 'Publish' }}</a>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->