<div ng-controller="NewsCtrl as news">
	<div class="row">
		<div class="col-lg-12">
			<h1>News</h1>
			<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, impedit, sint assumenda quod quidem aperiam minus a provident eveniet ducimus 	fugiat aut aliquam. Minima, modi, maxime assumenda sint nemo repellat!		
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<a ng-click="add()" class="btn btn-primary pull-right "><i class="fa fa-plus"></i> Add News</a>
		</div>
		<hr>
	</div>
	<div class="row" ng-init = "getContents()">
		<div class="col-lg-6" ng-repeat="item in data" app-content-item></div>
	</div>
	
	<div class="modal fade bs-example-modal-lg" data-backdrop="static" id="contentEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<form ng-submit="save()" novalidate >
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">News</h4>
		      </div>
		      <div class="modal-body" ng-include src="'views/cms/edit.html'">

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</div>