<div ng-controller="ContactsCtrl as contacts">
	<div class="row">
		<div class="col-lg-12" app-page-title>
		</div>
	</div>
	<ul class="nav nav-tabs">
  		<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
	</ul>
</div>