<div ng-controller="HomeCtrl as main">
	<div class="row">
		<div class="col-lg-12" app-page-title></div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> User Activities
				</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, alias, nemo voluptates est molestias temporibus consequatur in? Quidem, culpa deserunt dicta explicabo reprehenderit iusto numquam dolorum cumque velit similique. Possimus.
				</div>
			</div>
		</div>
	</div>
</div>