<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Admin Panel</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="javascript:void(0)">
                <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
           <ul class="dropdown-menu dropdown-messages" ng-init="menu.getMessages()">
                <li ng-repeat="data in menu.messages">
                    <a href="#">
                        <div >
                            <i class="fa fa-envelope fa-fw"></i> {{ data.label }}
                            <span class="pull-right text-muted small">{{ data.time }}</span>
                        </div>
                        <div>
                        	{{ data.message }}
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="javascript:void(0)">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks" ng-init="menu.getTasks()">
                <li ng-repeat="task in menu.tasks">
                    <a href="#">
                        <div>
                            <p>
                                <strong>{{ task.label }}</strong>
                                <span class="pull-right text-muted">{{ task.completion }}% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar {{ menu.getTaskColor(task.completion) }}" role="progressbar" aria-valuenow="{{ task.completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.completion }}%">
                                    <span class="sr-only">{{ task.completion }}% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="javascript:void(0)">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts" ng-init="menu.getMessages()">
                <li ng-repeat="data in menu.messages">
                    <a href="#">
                        <div >
                            <i class="fa fa-envelope fa-fw"></i> {{ data.label }}
                            <span class="pull-right text-muted small">{{ data.time }}</span>
                        </div>
                        <div>
                        	{{ data.message }}
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="javascript:void(0)">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#users/profile"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <div class="navbar-default navbar-static-side">
    	<div class="sidebar-collapse">
    		<ul class="nav" id="side-menu">
    			<li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </li>
			    <li><a ng-href="#home"><i class="fa fa-home fa-fw"></i> Dashboard</a></li>
			    <li>
                    <a ng-href="#"> <i class="fa fa-question-circle fa-fw"></i> Manage Contents <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a ng-href="#/cms/contents">Contents</a>
                        </li>
                        <li>
                            <a ng-href="#/cms/news">News</a>
                        </li>
                        <li>
                            <a ng-href="#/cms/events">Events</a>
                        </li>
                    </ul>
                </li>
			    <li ng-class="{active:menu.isActive('contact')}"><a ng-href="#contact"> <i class="fa fa-phone-square fa-fw"></i> Contacts</a></li>
                <li>
                    <a ng-href="#users"> <i class="fa fa-users fa-fw"></i> Manage Users</a>
                    
                </li>
			 </ul>
    	</div>
    </div>
	 
 </nav>